/* Stylesheet for 55Prophets */

body {
	background: #efefef;
	font-family: "Roboto Condensed",Arial,sans-serif
}

h1,h2,h3,h4,h5 {
	font-family: "Roboto Condensed",Arial,sans-serif
}

.wood {
	background: url(../images/wood.jpg);
	padding: 15px;
	moz-border-radius: 10px;
	border-radius: 10px;
	webkit-border-radius: 10px;
}

.plaid {
	background: url(../images/bgnd.png);
	box-shadow: 0 0 20px #000;
	border-top: 1px solid #6e6e6e;
	border-left: 1px solid #6e6e6e;
	moz-border-radius: 10px;
	border-radius: 10px;
	webkit-border-radius: 10px;
	padding: 15px;
	color: #fcf9e4;
}

/* Header */

#header {
	padding: 50px 0 0 0;
	text-align: center;
	font-family: 'Pacifico', cursive;
}

.hero {
	text-align: left;
	margin-left: 30px;
}

.hero h1 {
	color: #4a4a4a;
	font-size: 60px;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: -1px 0 0 #fff;
	margin-top: 30px;
	line-height: 1em;
	display: inline;
}

.hero h2 {
	color: #bde8f3;
	font-size: 36px;
	font-family: 'Yellowtail', cursive;
	text-shadow: -1px 0 0 #000;
	margin-top: 30px;
}

.hero h3{
	color: #fff;
	text-shadow: -1px 0 0 #000;
	margin-top: 30px;
}

.logo {
	margin-top:12px;
	margin-bottom:-40px;
}

.header-app-store-link { 
	margin-top: 20px;
	margin-right: 20px;
}

.app-store-link{
	margin-top: 60px;
	margin-left: 60px;
}

.slide img{ 
	margin-left:25px;
}

.slide .text{
	width: 535px;
	font-size: 24px;
	margin-top:55px;
	line-height:28px;
	margin-left:25px;
}

.italics{
	font-style:italic;
}

/* Footer */

.footer {
	margin: 40px 0 20px 0;
	color: #848484;
}

.federislogo {
	display: inline;
}

.footer_content {
	display: inline;
	top: -30px;
	position: relative;
	margin-left: 20px;
}

/* Utility Styles */

.right { float: right; }
.left{ float:left; }